# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / IDE
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Local secrets
secrets.json
*.secrets.json

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json

# Android build artifacts
/android/app/debug/
/android/app/profile/
/android/app/release/
/android/.gradle/
/android/local.properties

# Generated
.metadata

# Root-level test artifacts
/phone_*.png
/window*.xml
